
.button{
	cursor: pointer;
}
.button h4{
	margin: 0;
	padding: 0;
	font-size: 5em;
	color: rgba(255,255,255,.1);
	text-transform: uppercase;
	background-image: url(download.jpg);
	background-repeat: repeat-x;
	-webkit-background-clip:text;
	animation: animate 15s linear infinite;
}
@keyframes animate{
	0%{
		background-position: left 0px top 80px;
	}
	40%{
		background-position: left 800px top -40px;
	}
}